[2015-11-04 22:29] roryaronson opened #3 "Add 'Layers' Button/Menu"
This button should open up a small menu that allows the user to toggle the display of different elements in the map view. Elements that should be toggle-able:
* Plants
* Plant Groups
* Zones
* Grid
* FarmBot
* Data sets (pH, Moisture, Temperature, etc)

Obviously we can only currently toggle Plant elements, but as we add more things it will be nice to be able to hide them.

[2015-11-04 22:57] RickCarlino commented on #3
Noted! Will add it to the stack when I get home Friday.

[2015-11-29 04:59] roryaronson opened #8 "Breakup plant_inventory.js"
I think it would be easier to deal with the farm designer's left panel if the code in `plant_inventory.js` was broken up into different files such as: `plant_inventory.js`, `group_inventory.js`, and `zone_inventory.js`

What do you think @RickCarlino?

[2015-11-29 05:18] RickCarlino commented on #8
Agreed. Was just lumped together while prototyping. I can start separating it out on Monday, but feel free to break it apart and submit a PR if you have time. I think there are a couple other files that haven't been separated out yet, also (can't remeber file names off the top of my head).

Typically, I like to keep one class per file, and name the file after the class it defines.

[2015-11-29 05:20] roryaronson commented on #8
Cool. I'll wait for you to do it on Monday because there is some logic in there with the routing and such that I don't want to break. Its a little over my head!

[2015-11-29 05:20] roryaronson commented on #8
PS, the app is looking pretty refined! :)

[2015-11-29 05:24] RickCarlino commented on #8
Thanks! It's coming along bit by bit.

Sent from a mobile device. Please excuse my brevity.
On Nov 28, 2015 11:21 PM, "Rory Aronson" <notifications@github.com> wrote:

[2015-11-29 08:33] roryaronson commented on #8
Ended up figuring it out for the most part!

Lots of styling ready to be reviewed and merged when you get a chance :)

[2015-11-29 21:29] roryaronson opened #9 "Render a grid on the garden map"
I accomplished this with a CSS trick, but it would probably be better to use React SVGs to render it? That way it would be feasible to adjust the grid for english vs metric units, different spacing, display on/off, etc.
![capture](https://cloud.githubusercontent.com/assets/5524043/11460181/20bf1f86-969d-11e5-9f2b-db98cd790218.JPG)

[2015-11-29 21:31] RickCarlino commented on #9
I think the SVG idea might be more complex, but won't know for sure until
we try. Looks awesome from a visual standpoint, definitely great to see.
Will be back at it on Monday for both PRs.

Sent from a mobile device. Please excuse my brevity.
On Nov 29, 2015 3:29 PM, "Rory Aronson" <notifications@github.com> wrote:

[2015-11-29 21:31] roryaronson opened #10 "Render FarmBot on the garden map"
Render according to the device's actual current position.
![capture](https://cloud.githubusercontent.com/assets/5524043/11460204/7bb090be-969d-11e5-84bd-87542bb34866.JPG)

[2015-11-29 21:33] roryaronson commented on #9
Cool, I'm going through and adding a bunch of features that we can keep track of/work on. Talk to you on Monday!

[2015-11-29 21:36] roryaronson opened #11 "Hide the left and right farm designer panels off canvas on mobile"
I'm thinking something like this: https://getbootstrap.com/examples/offcanvas/#

I'm going to try doing this :zap:

[2015-11-29 21:39] roryaronson opened #12 "Get flex working"
On the farm designer, so that the panels and the middle area extend to the bottom of the screen.

I'm going to give this a go today too

[2015-11-30 15:28] #8 closed

[2015-11-30 17:09] roryaronson commented on #12
Well I didn't really get `flex` working, but I did accomplish what I wanted using this: http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window

[2015-11-30 17:09] #12 closed

[2015-11-30 21:39] roryaronson commented on #11
I went with a different concept (kept the tabs and put them up in the main nav area

[2015-11-30 21:39] #11 closed

[2015-12-06 00:29] roryaronson opened #19 "Stub the Add Group panel view"

[2015-12-06 00:29] roryaronson opened #20 "Stub the Add Zone panel view"

[2015-12-07 18:11] #19 closed

[2015-12-07 18:11] #20 closed

[2015-12-07 21:50] roryaronson opened #24 "Make main nav active link look active"

[2016-01-07 00:12] roryaronson opened #37 "Use real toggle switches for the toggle switches"
For: tool control, invert endpoints, invert motors, and negatives

Looks like Bootstrap doesn't have toggle switches built in. This looks well supported/used: http://www.bootstrap-switch.org/

[2016-04-14 22:38] RickCarlino opened #50 "Registration doesn't auto-login the user (oops)"
# How to Replicate

1. Go to production.
2. Sign up.
3. Watch in horror as your account is created but NOT automatically logged in.

[2016-04-14 23:17] roryaronson commented on #50
Haha in this vein, is it possible for the user to stay logged in longer and it auto-load the app? Everytime I open a web app tab I have to click "Login or Create Account" from the splash page, and then click "Login".

If I already had an account and was logged in, it would be nice if going to my.farmbot.io took me straight to the manual control page.

[2016-04-27 17:50] roryaronson opened #53 "Default Server Options"
Seems like most people will be using the production app over other options. What if there were four checkbox options hidden under an advanced options menu: 'my.FarmBot.io' 'staging.FarmBot.io' 'local host' and 'custom' (with an input like it is now). my.FarmBot.io would be checked by default.

[2016-05-03 22:32] roryaronson opened #57 "When deleting all Steps and then saving the Sequence, it deletes none"
1. Make a sequence with a few steps, save it.
2. Individually delete all of the Steps in the sequence.
3. Upon saving the sequence, all deleted Steps re-appear and are saved.

Instead, the "sequence can't be empty" error should appear.

[2016-05-03 22:42] roryaronson opened #58 "Execute Sequence does not work without saving directly after adding Steps"
Rick, remember how the sequence didn't execute when I first made it but hadn't yet saved it?

Its not an issue with having to save at least once, its an issue with having to save after any additional Steps are added to the Sequence. I think its because when Steps are added but not saved, they don't yet have an `ID`.

## When adding the first Step to a brand new Sequence
This is what is sent to the

[2016-05-04 15:58] #57 closed

[2016-05-20 05:00] drdim opened #67 "Not work disigner page"
my.farmbot.io.js:77 Uncaught TypeError: Cannot read property 'planting_area' of undefined

[2016-05-20 05:01] drdim opened #68 "Can't edit device name"
On page /app/dashboard/devices

Can't edit FARMBOT NAME

[2016-05-20 05:45] roryaronson commented on #68
Hey @drdim thanks for trying out our software and filing some bug reports. All of our codebases are still in an alpha/beta stage. So many features don't yet work.

What is working is the manual controls, updating (most) of the device settings, and sequence building. Our next big milestone is regimens.

Are you interested in helping out with the development at all?

[2016-05-20 12:58] RickCarlino commented on #67
Greetings! We're aware of this issue. Right now, our big focus is the regimen scheduler and sequeunce editor. It will be a while before this one gets fixed.

Please stop by our [Gitter chat](https://gitter.im/FarmBot/chat) if you need any other help getting set up. There are quite a few of us in their during the day.

[2016-05-20 12:58] #67 closed

[2016-05-25 15:09] RickCarlino commented on #53
Resolved a million years ago.

[2016-05-25 15:09] #53 closed

[2016-05-25 15:10] RickCarlino opened #71 "Menus disappear on size "xs" screens (small phones)"
As @MAT13 pointed out on gitter (and as I coincidentally noticed yesterday), xtra small screens can't see any of the menus. Is this a bug or a feature?

[2016-05-25 15:10] RickCarlino commented on #58
Resolved

[2016-05-25 15:10] #58 closed

[2016-05-25 15:12] RickCarlino commented on #50
Resolved.

[2016-05-25 15:12] #50 closed

[2016-05-25 17:18] RickCarlino commented on #3
Closing inactive issue.

[2016-05-25 17:18] #3 closed

[2016-05-25 17:18] RickCarlino commented on #9
Closing inactive issue.

[2016-05-25 17:18] #9 closed

[2016-05-25 17:18] RickCarlino commented on #37
Closing inactive issue.

[2016-05-25 17:18] #37 closed

[2016-05-25 17:19] RickCarlino commented on #10
Closing inactive issue.

[2016-05-25 17:19] #10 closed

[2016-05-25 17:19] RickCarlino commented on #24
Closing inactive issue.

[2016-05-25 17:19] #24 closed

[2016-05-25 17:49] roryaronson commented on #71
I think both. Haha I'll need to work on that one...

[2016-07-01 20:19] migarol opened #83 "crowdin.com"
Add a collaborative page to translate, i can translate to spanish

[2016-07-02 14:10] RickCarlino commented on #83
@migarol Great idea! We could definitely support i18n for this project.

I am not familiar with GNU Gettext or crowdin.com so I will need to look into this one more, but I definitly agree that English shouldn't be the only option.

Leaving this issue open for now.

[2016-07-13 18:33] ShaggyDude opened #84 "Default login info?"
Is there a test login? I'm looking for it but can't find it..

[2016-07-13 19:35] roryaronson commented on #84
I don't believe there is. You can just make a new username/password though.

[2016-07-14 16:24] ShaggyDude commented on #84
I get an error trying this from localhost on a mac. Should it work locally?

[2016-07-14 17:05] RickCarlino commented on #84
Are you running an API server locally? If not, you can create an account on the [staging server](http://staging.farmbot.io) and point your local client to that. Please let me know if that doesn't work and we can take it from there. Thanks for checking out the repo!

[2016-07-14 19:07] ShaggyDude commented on #84
Ahh, no I need to set up the API server.

[2016-07-15 01:45] RickCarlino commented on #84
@ShaggyDude You don't need to per-se if you are only interested in working on the frontend. Pointing the frontend client at the staging server should be good enough in most cases. Please let me know if that fixes your issue. Closing this issue for now, can re-open if you still need help.

[2016-07-15 01:45] #84 closed

[2016-07-24 22:21] ivanmayes opened #87 "Is there a roadmap for this project"
Curious if there is a roadmap for the web software side of this project.  I'm very passionate about this project and would love to contribute to the web frontend / api side of things, but would prefer to spend time working towards something that is already in the near term vision for the web functionality.

[2016-07-24 22:52] roryaronson commented on #87
Thanks for asking! We don't have too much of a roadmap (its mostly in mine and @RickCarlino's heads). But what we have been doing is using Trello boards for 2-3 week sprints. Something we can start doing though is posting a link to these trello boards in an issue here on GitHub, or start using the issue tracker here more consistently. Have you got the codebase working locally yet? Do you have any

[2016-07-25 00:35] RickCarlino commented on #87
@ivanmayes Thanks for checking out the project. If you're looking for general areas that need help, here are a few that would be useful and also help give you a better taste of the project architecture:

 * This is one of the only repos that doesn't have a good test suite. Our coverage is basically 0 right now and I would like to get it higher than that.
* We transitioned from ES6 to Typescript a

[2016-07-25 08:14] nataraajc opened #88 "Local Language Support"
Hi, I would like to check if we have local language support. Do we have any plan/support for the same? If we already have design for local languages where to start with?

[2016-07-25 10:57] RickCarlino commented on #88
@nataraajc It's scheduled, but not started. We we're considering using Mozilla's `L20n` library, but it doesn't play nicely with NPM (or at least, it seems that way for us).

Do you have any preferences for i18n libraries that support React.js?

[2016-07-25 20:06] migarol commented on #83
Great, let me know if you need help, i can help you out with setting it up and doing some translation to spanish.

[2016-07-27 00:52] JefHinton opened #89 "Issues registering for an account."
<img width="485" alt="screen shot 2016-07-26 at 7 51 02 pm" src="https://cloud.githubusercontent.com/assets/19696231/17160417/6ed9e02c-536a-11e6-8930-ea7f0d56e5ef.png">

I got all the way to the
http://localhost:8080/app/login Part.

Any Idea on where I go to set up an account?

[2016-07-27 01:16] RickCarlino commented on #89
What message did you see after submitting the `Create an Account` form? Could have sworn that was working. My guess is that you aren't running an API locally and it tried doing a POST to your machine?

[2016-07-27 15:09] JefHinton commented on #89
Yea, it is running a post to my machine. Really what I think I need is a link to the register an account webpage.

[2016-07-27 22:10] RickCarlino commented on #89
A little background:

Farmbot frontend works a lot an IRC chat client (or FTP client for that matter). You specify the URL and it connects to that server. In your screen shot, you are pointing at `//localhost`, but you aren't actually running a server on `localhost`.

Can you try this for me?

1. Restart the frontend.
2. Change `//localhost:3000` to `//my.farmbot.io`
3. Try to register for an acco

[2016-07-28 04:07] clubleveljoe commented on #87
I'm more of a Ruby guy than a JS guy... Could you give an overview of what you need help with on the API side? I'm happy to open up a ticket like this one over there if it would be helpful.

[2016-07-28 10:20] RickCarlino commented on #87
@clubleveljoe I would prefer to keep API discussions out of this repo, but to answer your question, there's not too much going on with the API right now. It's our most stable piece of software and it rarely changes. There might be some `TODO` items in the codebase still, though if you want to take a look. If you have any questions, let me know by raising an issue in the API repo.

[2016-07-28 10:20] #87 closed

[2016-07-28 19:53] rmariuzzo commented on #83
I can also help!

[2016-07-28 21:40] clubleveljoe opened #90 "Routed to /login"
I run npm start and can access the site at http://localhost:8080 but am routed to /login instead of /app/login by default.

[2016-07-28 21:43] clubleveljoe opened #91 "Custom API Endpoint Error"
When logging into the front-end I have specified my server URL to point to http://projectname.nitrousapp.com:3000 and I can log-in fine.

However all the requests to the API after logging in are routed to http://projectname.nitrousapp.com:3000//app/resource and result in errors as the API attempts to redirect them.

Any idea on the extra trailing slash?

[2016-07-29 01:33] #71 closed

[2016-08-01 20:19] RickCarlino commented on #90
I'm having trouble replicating on local. Which OS / browser are you running?

@roryaronson Have you experienced this recently?

[2016-08-01 20:21] RickCarlino commented on #91
@clubleveljoe Could you show me the exact resources that are erroring out? That will help me see if an extra `/` slipped into the codebase somewhere. I've seen this issue before on some machines.

[2016-08-02 14:42] creimers opened #93 "version bug in package.json?"
Following "Up and Running" from the README, I get:

[code]

[2016-08-02 14:48] RickCarlino commented on #93
@creimers Whoops! That's a bug on something I'm working on *right now*. Will it now. As a side note, if you need to use a stable version, consider looking at a tagged release. If you're just looking around and wanted to see the "edge" version, you're in the right spot.

[2016-08-02 15:10] RickCarlino commented on #93
Just downgraded `farmbot` version. If you `git pull` latest, `npm uninstall farmbot` and `npm install` you should be good to go.

You can safely ignore the red warning messages, as that's something I am working on today. Master branch is typically unstable, so it might be best to use a [release version](https://github.com/FarmBot/farmbot-web-frontend/releases) if you need something more stable.

[2016-08-02 15:10] #93 closed

[2016-08-02 15:10] RickCarlino commented on #93
Closing issue for now, but feel free to keep the discussion going if that doesn't help.

[2016-08-02 19:41] roryaronson commented on #90
@RickCarlino I haven't touched my local setup since the launch campaign, so I don't know, but I don't think so?

[2016-08-02 22:15] RickCarlino commented on #90
Closing until we get more information.

[2016-08-04 20:37] RickCarlino commented on #83
Greetings folks-

I am going to close this one as we have i18n on the roadmap but won't be implementing anything for a while.

[2016-08-04 20:37] #83 closed

[2016-08-13 04:39] #91 closed

[2016-08-13 04:39] #89 closed

[2016-08-13 04:39] #88 closed

[2016-08-13 04:39] #68 closed

[2016-08-14 14:56] eamonpenland opened #96 "Connection refused: Not authorized"
Hey! Just cloned the repo and pointed the server url to the remote staging api (//my.farmbot.io). I created an account and was logged in to the dashboard. I keep getting a react dev tools popup saying Connection refused: Not authorized. Any idea what is going on?

[2016-08-15 02:40] RickCarlino commented on #96
Eamon,

Thanks for the heads up! Your next step would be to Flash an Arduino with the [latest stable firmware](https://github.com/FarmBot/farmbot-arduino-firmware/releases) and hook it up to a machine running the [latest stable RPi software](https://github.com/FarmBot/farmbot-raspberry-pi-controller/releases). You'll need to run `setup.rb` on the Pi also (or just run it off your desktop for testin

[2016-08-15 02:40] #96 closed

[2016-08-21 13:55] davetom13 commented on #90
@RickCarlino I remember seeing this github issue when it came in. I recently updated my Pi with the latest build which seems to be stable, except for this issue. On Mac OSX chrome :8080/app/login works fine, but on IOS when you goto :8080/app/login it redirects to :8080/login and the page remains grayed out. It appears to be a mobile redirect issue. Not sure if this is the same as the OP, but figu

[2016-09-14 02:40] RickCarlino commented on #91
I think I may have a possible fix for this one. Was able to reproduce on last staging deploy. Details to follow.

[2016-09-23 05:41] jeffslofish opened #113 "Blank page when going to http://localhost:8080/ after following "Up and Running" instructions"
I followed the "Up and Running" instructions, and when I go to http://localhost:8080/ I get a blank page. However, I did notice that if I go to http://localhost:8080/app/login then I do get a login page, so I guess my setup isn't completely broken.

[2016-09-23 14:24] ConnorRigby commented on #113
The documentation isn't proper.  http://localhost:8080/app/login is the correct URL. We will update the README.md shortly.

[2016-09-23 14:37] RickCarlino commented on #113
@jeffslofish Hi Jeff, Thanks for pointing this one out!

It looks like the docs were indeed a few weeks behind. I've updated the docs. I appreciate your help in keeping the docs current.

[2016-09-23 14:37] #113 closed

[2016-10-11 15:16] #90 closed

[2016-10-25 13:36] mrmadhu opened #136 "Farm Designer issues"
1) there is no result while searching plants, search shows only potato but no images when adding to canvas
2) Canvas is not complete (attaching screenshot)
3) Group option does not work, no search result
4) nothing happening in events

![image](https://cloud.githubusercontent.com/assets/22852245/19688141/05d8abbc-9ae6-11e6-907b-5f4e99387250.png)

[2016-10-25 13:37] mrmadhu opened #137 "Need to reload staging.farmbot.io, every time after the RPI reboot"
Need to reload staging.farmbot.io, every time after the RPI reboot

[2016-10-25 13:43] RickCarlino commented on #136
The Farm Designer is not finished nor is it ready for use. We're tracking the issues above and have them as our next target after we finish things up on the sequences page.

Events are working on the device side, but the UI you see is just a mockup for now. That's on the calendar this week and next week.

Groups are a very early concept that we have not yet finished. Start date on that is TBD.

In

[2016-10-25 13:43] #136 closed

[2016-10-25 13:45] RickCarlino commented on #137
Can you please give more details? Why do you need to reload the RPI? Do you see any errors or messages in the Javascript console (`ctrl + shift + j` in Chrome).

[2016-10-25 14:25] mrmadhu commented on #137
sorry looks fine now, may be a local issue, till now i was reloading staging.farmbot.io to detect the online RPI. you can close the issue

[2016-10-25 15:07] RickCarlino commented on #137
Great. Thanks.

[2016-10-25 15:07] #137 closed

[2016-10-28 23:17] AscendFB opened #142 "Hardware settings wont show up"
Hello everyone,

I'm having trouble with the settings since 2.1.0.
The values seem to get saved if I write new ones in and press "Save", but right after that they disappear and "---" is shown in every cell. But Motors move in the speed that I saved.
I already flashed a new Image but still the same thing.

![image](https://cloud.githubusercontent.com/assets/23129562/19824840/5e120b7c-9d73-11e6-9078

[2016-10-29 00:29] roryaronson commented on #142
Hey thanks for chiming in! This is known issue and it should be resolved on Monday with a new production deploy.

[2016-10-31 06:10] mrmadhu opened #144 "web app login credential should have an option to save"
web app does not save the login credential information, is it intentional or yet to implement functionality ?

Madhu

[2016-10-31 13:54] RickCarlino commented on #144
## Staying Logged In

1. Log in from `/app/login`.
2. Close the tab and visit `/app/dashboard/controls`.
3. You should still be logged in for 30 days, unless you have `localStorage` disabled.

## Logging Out

Click the `logout` button on the navbar or visit the login page again.

Eventually, we are going to add a "stay logged in" check box and refactor this down further, but this gets the job done

[2016-10-31 13:54] #144 closed

[2016-11-01 05:01] mrmadhu commented on #144
i end up login every time i access staging.farmbot.io 

      From: Rick Carlino <notifications@github.com>
 To: FarmBot/farmbot-web-frontend <farmbot-web-frontend@noreply.github.com>
Cc: mrmadhu <mrmadhu@yahoo.com>; Author <author@noreply.github.com>
 Sent: Monday, 31 October 2016, 19:24
 Subject: Re: [FarmBot/farmbot-web-frontend] web app login credential should have an option to save (#144)

St

[2016-11-01 05:12] roryaronson commented on #144
Yea @rickcarlino I think this is pretty confusing right now. I think most people always navigate to the root domain of the app which is the splash page, which then goes to the login page, which automatically signs people out.

I think the trello card for the unified login page should resolve this issue.

Thanks for the feedback @mrmadhu, we'll get this worked out so it behaves more like other web

[2016-11-03 17:34] AscendFB commented on #142
Hey, just wanted to let you know that changing any setting does not work for me yet. After updating to 2.1.2 there are default values entered and those cannot be saved. Is this already known?

[2016-11-03 17:49] ConnorRigby commented on #142
@AscendFB, I believe that is because http://my.farmbot.io cant use the device hardware yet.
if you reset your bot and sign into http://staging.farmbot.io (you'll have to create an account first) it should work just fine.

[2016-11-03 18:47] AscendFB commented on #142
@ConnorRigby Oh, excuse me, I was already using http://staging.farmbot.io/ this time, I didnt even try my.farmbot.io. Guess I could try it with my.farmbot.io again instead of staging.
Btw, should that "Steps per mm" box work already?

[2016-11-03 18:58] ConnorRigby commented on #142
can i see a screenshot of what your looking at?
steps per mm should be populated with 500 by default.

[2016-11-03 19:19] AscendFB commented on #142
![image](https://cloud.githubusercontent.com/assets/23129562/19981550/b0afcc32-a202-11e6-9d14-574defa16a42.png)

I feel like there is no difference in movement if I change the "steps per mm" value.
All axes are moving, but even if I change the Speed to f.e. 100, it still moves like 1500 which is too fast for my current setup.

[2016-11-03 19:23] ConnorRigby commented on #142
yeah so unfortunately although it is being set in farmbot OS, our [Arduino Firmware](https://github.com/FarmBot/farmbot-arduino-firmware/tree/v0.0.1) doesnt support speed quite yet.

[2016-11-14 02:56] linqingfeng opened #155 "Installation Failure in “Run ./install_frontend.sh“"
Hi,

We try to install "Run ./install_frontend.sh"

But the following error:

ts-loader: Using typescript@2.0.9 and /tmp/farmbot_frontend/tsconfig.json
Hash: a7883aa04607000db45a
Version: webpack 1.13.3
Time: 104144ms
                       Asset       Size  Chunks             Chunk Names
                app-index.js    18.3 kB       0  [emitted]  app-index
     app-resources/bundle.js     977 kB

[2016-11-14 15:51] RickCarlino commented on #142
Closing this issue since it is not directly related to the frontend.

[2016-11-14 15:51] #142 closed

[2016-11-14 15:58] RickCarlino commented on #155
@linqingfeng Thanks for bringing this to our attention. We are seeing the issue this morning also.

It appears to be a version mismatch between `momentjs` and the typescript typings. I will update this thread when I find the solution.

[2016-11-14 16:11] RickCarlino commented on #155
Ok - I think I have isolated the issue. The error messages you're seeing should not stop you from deploying the server, and they should go away when I merge the fix into master (next 24 hours).

It is most likely caused by the version of moment.js listed in the `package.json` file. You can change the version to `2.15.2` if you need a temporary fix. Otherwise, it should be fixed shortly and not int

[2016-11-14 16:19] #155 closed

[2016-11-15 01:37] linqingfeng commented on #155
Hi,

Thank you for fixing these bugs, but when we build with the latest version, we get an error:

ts-loader: Using typescript@2.0.9 and /tmp/farmbot_frontend/tsconfig.json
Hash: 3e695a9d15219e77f699
Version: webpack 1.13.3
Time: 124700ms
                       Asset       Size  Chunks             Chunk Names
                app-index.js    14.5 kB       0  [emitted]  app-index
     app-resources/

[2016-11-15 02:05] linqingfeng commented on #155
Hi,

We try to modify it
/tmp/farmbot_frontend/node_modules/@types/mqtt/node_modules/@types/node/index.d.ts

`declare var require: NodeRequireFunction;
//declare var require: NodeRequire;`

This will be able to build a successful, this will not be a problem?
Thank you very much.

[2016-11-15 14:49] RickCarlino commented on #155
@linqingfeng It will not affect the app, but it is inconvenient to look at.

Can you try re-running the `install_frontend.sh` again and let me know if the errors still appear?

I think this is happening because of different NPM versions between my machine and yours (I do not see the error locally, but users are reporting it). I added an `npm-shrinkwrap.json` file to the repo which will hopefully f

[2016-11-16 17:08] linqingfeng commented on #155
@RickCarlino Thanks,we re-use the latest version of the building, the problem has been fixed, very grateful!

[2016-11-16 18:21] RickCarlino commented on #155
@linqingfeng Great! As a side note: The front page login screen is still malfunctioning (we're investigating right now). Please use `/api/login` for now.

[2016-11-24 21:08] Daniil145 opened #159 "Installation Failure(run)"
Hi i start api server on http://95.31.1.59/
and i dont login only create accounts
console log:
Started POST "/api/tokens/" for 78.107.240.9 at 2016-11-25 00:06:00 +0300
Started POST "/api/tokens/" for 78.107.240.9 at 2016-11-25 00:06:00 +0300
Processing by Api::TokensController#create as JSON
Processing by Api::TokensController#create as JSON
  Parameters: {"user"=>{"email"=>"mbagrow@gmail.com", "

[2016-11-24 21:25] #159 closed

[2016-12-21 04:06] fluffy opened #163 "See the wrong camera images"
# Expected Behavior

I don't have a camera attached to mine yet so I would expect to see black when I go to https://my.farmbot.io/app/controls

# Actual Behavior

I'm seeing images from some other person's camera.

# Steps to Reproduce

Go to https://my.farmbot.io/app/controls

[2016-12-21 04:08] RickCarlino commented on #163
@fluffy That's our FarmBot! We put that there as a default so people can see what we're up to if they haven't set a camera feed of their own.

If you would like a camera feed of your own, you can use any camera software that supports HTTP streaming. We haven't don't much integration for camera feeds yet, unfortunately.

[2016-12-21 04:08] #163 closed

[2016-12-21 04:09] fluffy opened #164 "Can not enter absolute position in controls"
# Expected Behavior

The https://my.farmbot.io/app/controls has place to enter x,y,z position and hit GO.

# Actual Behavior

When I try and enter a number in one of the axis boxes, I can not type anything or it is instantly changed back to the previous value.

# Steps to Reproduce

[2016-12-21 04:11] fluffy commented on #163
Oh, cool - thank you for the info.

[2016-12-21 04:12] RickCarlino commented on #163
No problem! Best of luck with device setup.

[2016-12-21 07:42] MrChristofferson commented on #164
@fluffy Thanks for the catch! We'll take a look. For now, if you highlight the entire value within the input, then attempt to change it, it should work. Let us know if you run into any more issues.

[2016-12-28 04:35] fluffy commented on #164
This seems fixed. Thanks. Still some weirdness. If I refresh the page, and enter just a value in the x box, when I hit go, instead of leaving the Y and Z where they are, it is as if I entered 0 in both of them and it moves the robot to 0,0 on y and z (as well as whatever I entered on x. But it's usable now as soon as you get used to this.

[2016-12-28 04:39] fluffy opened #165 "Home button should raise z to safe distance before starting x,y move."
# Expected Behavior

Like to be able to define a "safe z" value that is above all the plants and when hitting the home button, the robot raised the z to this safe level before starting in motion in the x,y plane. So ideally a move to the current x,y and safe height, followed by a linear move to home.

# Actual Behavior

All axis start to move right away.

# Steps to Reproduce

[2016-12-29 13:28] Daniil145 opened #166 "i18next for localization ru"
Could you tell me how to work with i18next?

[2016-12-29 15:23] RickCarlino commented on #166
Hi @Daniil145 . Here's how it works:

1. Clone and fork this repository.  Follow the usual [setup instructions](https://github.com/FarmBot/farmbot-web-frontend#developer-setup)
2. Look through the project for `*.tsx` files. Find places where we call `t()`. Example: Line 13 of `/src/regimens/bulk_scheduler/add_button.tsx` calls `t("add")`.
3. When you find a phrase you want to translate, open the `

[2016-12-29 15:23] #166 closed

[2016-12-29 15:26] RickCarlino commented on #166
@Daniil145 Also, I would like to mention that if you do write a translation, you will be the first user to do so. If you hit any issues during the translation process (very possible) please let me know. We are at a very early stage with `i18n` on this project.

[2016-12-29 15:46] RickCarlino commented on #165
@TimEvWw @ConnorRigby This is a valid use case. Perhaps the `HOME_ALL` command needs to elevate `Z` before reseting `X` and `Y`.

[2016-12-29 17:24] ConnorRigby commented on #165
ah interesting problem. in the current firmware the gcode for `HOME_ALL`  does not work. (the arduino just appears to hang?) so right now im just doing a `move_absolute(0,0,0)`, for now i will change it to:
[code]
this should raise the z axis to 0, then move everything else home

[2016-12-29 18:33] fluffy commented on #165
Sounds good. Thanks

[2017-01-02 22:29] rorycan opened #167 "It doesn't move in mm"
When I tell it to move using the control panel to 100 mm, it moves around 20 mm.

[2017-01-02 22:33] rorycan opened #168 "Sometimes it randomly resets to 0,0,0"
We were moving it around, and sometimes it resets to thinking it's at 0,0,0. The next absolute move results in it crashing.

[2017-01-02 22:36] rorycan opened #169 "Drag and drop is not working consistently."
When we try to drag and drop a command block into the sequence, it often doesn't work. We are using chrome.

[2017-01-02 22:40] rorycan opened #170 "The Z axis doesn't always calibrate precisely"
We calibrate the Z axis, and when we move it down, it isn't always at the same position.

[2017-01-02 23:11] RickCarlino commented on #167
@rorycan We're aware of this issue and working on it today. More details coming soon.

[2017-01-04 18:58] RickCarlino commented on #165
Fixed here: https://github.com/ConnorRigby/farmbot_os/pull/8

[2017-01-04 22:58] roryaronson commented on #165
On a related note: We could add a "Safe Z" checkbox to both the `Move Absolute` and `Move Relative` blocks in the sequence editor that would bring Z to 0, perform the X/Y movements, and then bring Z to desired location.

[2017-01-04 23:01] ConnorRigby commented on #165
That's a good idea. Doesn't sound too hard to do

On Jan 4, 2017 2:59 PM, "Rory Aronson" <notifications@github.com> wrote:

[2017-01-04 23:01] roryaronson commented on #170
This might be an issue with [backlash](https://en.wikipedia.org/wiki/Backlash_(engineering)) in the hardware. How far off is it? Is the problem compounding or is it always off by the same amount?

[2017-01-06 18:16] fluffy commented on #170
We need to go measure this but just randomly guessing to probably be in the 5 mm range and seem. I have not checked if it is consistent if we are always moving *up*. It did seems like it was probably coming from the flex coupling stretching and compressing.  We will play some more with it this weekend.

[2017-01-06 18:19] fluffy commented on #167
Not sure what the plan for this is but my preference would be the G00 codes are sent in mm to the Arduino and it moves them to steps.

[2017-01-06 18:58] RickCarlino commented on #167
@fluffy The plan was to perform the conversion on the Pi side of things, although we got side tracked on some issues in the configurator this week. Could you elaborate a bit more on your thinking behind that preference?

[2017-01-09 12:28] AscendFB opened #171 "Farmbot sent a malformed message"
![image](https://cloud.githubusercontent.com/assets/23129562/21766387/74e9231a-d66e-11e6-8d82-fe6178dcfb56.png)

I was using OS 2.1.8 when one day this error came up. Today I flashed my SD-Cards two times with the newest OS (2.1.8) but still the same error.
I'm using staging.farmbot.io.

[2017-01-09 15:41] RickCarlino commented on #171
Hi, @AscendFB sorry about the trouble. Here's what's happening:

Although you were correct to reflash your device, you will need to compile an "edge" version of Farmbot OS from source since you are on the staging server.

You have a few options:

1. Flash the latest stable release and use production until these features are stable. I would highly recommend this. Although the staging server always

[2017-01-09 15:41] #171 closed

[2017-01-14 03:54] fluffy commented on #170
I think what was happening before is did not have enough friction in the Z system and we when the "enable" was turned off to the z stepper motor, the screw would actually turn about 1/3 of a turn significantly changing the position. Adjusting the screw block a bit introduced enough friction to have this not happen. After that, when we went and did some measurements, this seemed to be working. If w

[2017-01-14 04:03] fluffy commented on #167
Well the nice part about G codes in mm is that is supported by pretty much everything that generates or consumes G codes and we could take the G codes and feed them into simulator for a CNC machine and preview what will happen. It also means that any custom configurations mapping the number of steps per mm can be stored in the eeprom on Arduino. This seems like a nice place for it where it will st

[2017-01-25 15:22] pablomat opened #173 "Installation Failure"
When populating the postgres db i get the following error. The DB is created but the rake command aborts.
[code]

# Actual Behavior

# Steps to Reproduce

[2017-01-25 15:55] RickCarlino commented on #173
@pablomat Try pulling the latest master and try again. We just made some changes to the `Plant` model recently. I can re-open if that doesn't fix it. Closing for now.

[2017-01-25 15:55] #173 closed

[2017-01-25 15:56] RickCarlino commented on #173
Actually- please move the conversation to the [Web API](https://github.com/FarmBot/Farmbot-Web-API) repository, as database issues are not part of the frontend.

[2017-01-25 23:38] pablomat opened #174 "Issue when running ./install_frontend.sh"
After running the script i get the following error, the webserver is responding though.

ERROR in /tmp/farmbot_frontend/node_modules/@types/snapsvg/index.d.ts
(57,16): error TS2323: Cannot redeclare exported variable 'filter'.

ERROR in /tmp/farmbot_frontend/node_modules/@types/snapsvg/index.d.ts
(58,16): error TS2323: Cannot redeclare exported variable 'path'.

ERROR in /tmp/farmbot_frontend/typi

[2017-01-26 14:57] RickCarlino commented on #174
@pablomat Interesting. I will take a look in a moment. This might be a local settings issue, because we just ran this script on a Heroku instance 20 minutes ago. I will let you know if I find anything.

[2017-01-26 15:00] RickCarlino commented on #174
@pablomat Can you try running these commands one-at-a-time and see if you get any new errrors?

[code]

[2017-01-26 15:50] pablomat commented on #174
Hi Rick,

I've tried what you suggested and it's giving me the same error, I've put everything into a log. Thanks
[Output.txt](https://github.com/FarmBot/farmbot-web-frontend/files/732718/Output.txt)

[2017-01-26 15:56] RickCarlino commented on #174
@pablomat Have you checked to see if those errors are causing any issues on the app? It looks like there are just some type errors from `snapSVG` which might not actually stop you from running the app. It might just be some some issues related to (unstable) work we're doing on the Farm Designer right now.

[2017-01-26 16:03] pablomat commented on #174
Hi,

Well it's hard to tell but i doubt that it's causing the issues that i have at the moment, the webserver is reachable but i cannot create a user as i receive the message "Possible connectivity issues..".

mqtt and web api are running, i can open another issue for this in the proper section

[2017-01-26 16:11] #174 closed

[2017-01-26 16:18] RickCarlino commented on #174
@pablomat The warnings have been removed from the latest version. They should be gone if you run `./install_frontend.sh` again.

[2017-01-26 16:25] pablomat commented on #174
Hi, indeed they're gone now. Thanks

[2017-01-29 02:39] vindekator opened #177 "Installation Failure"
# Expected Behavior
Running step 3. bundle install

# Actual Behavior
git clone https://github.com/FarmBot/Farmbot-Web-API farmbot-web-app
Cloning into 'farmbot-web-app'...
remote: Counting objects: 13611, done.
remote: Compressing objects: 100% (132/132), done.
remote: Total 13611 (delta 63), reused 0 (delta 0), pack-reused 13475
Receiving objects: 100% (13611/13611), 7.80 MiB | 10.10 MiB/s, done

[2017-01-29 02:53] RickCarlino commented on #177
You're missing a local C library most likely. Can you try this?  http://stackoverflow.com/a/6040822/1064917 Please let me know if that fixes it

[2017-01-29 06:49] vindekator commented on #177
Thank you very much.  That seems to have done the trick.

[2017-01-29 06:50] vindekator commented on #177
I walked away for awhile.  Wasn't expecting such a quick response.  Very nice!

[2017-01-29 06:50] #177 closed

[2017-01-29 14:36] RickCarlino commented on #177
No problem! ☺️

[2017-02-05 00:59] fluffy commented on #169
This seems to be fixed in latest version

[2017-02-05 00:59] fluffy commented on #167
This is fixed in latest stuff. Should I just close this ?

[2017-02-05 01:20] #167 closed

[2017-02-05 01:24] #169 closed

[2017-02-05 02:13] fluffy opened #182 "The speeds default seems too high"
The speed used to default to 1500 steps per minute which worked fine but it now defaults to 1500 mm / min which seems too fast for the stepper motors to keep up. I suspect we need a new default - 500 has been working for me but I have not experimented to find an optimal value.

[2017-02-05 02:55] fluffy opened #183 "X value overwriting y value in sequence rules"
If I write an couple absolute move that do not import a location, save the sequence, then reload the page, the values for the y are replaced with the value that was in the y.

[2017-02-05 02:57] fluffy opened #184 "Default move of 1000 mm in control leads to crashed"
If would be much nicer if the default was 10 mm. The page gets reloaded and I forget it has moved to 1000 mm. Then it crashes due to my bad. Then I get to enjoy the 20 minute calibration process :-)

[2017-02-05 03:44] #182 closed

[2017-02-05 04:21] roryaronson commented on #184
Ah, yes good point. Before we had steps/mm implemented the default move amount of 1000 (steps) made sense. Now I think a default of 100 (mm) makes the most sense. 10 seems a little too small to me though unless you're working with a desktop-sized device. Would a 100mm default work for you or do you think 10 is better?

[2017-02-05 04:25] roryaronson commented on #183
I don't quite understand the error. Can you outline how to recreate this in a

1. Step 1
2. Step 2
3. Kind of way?

[2017-02-06 14:14] RickCarlino commented on #183
@fluffy I've seen this one come up in the past. It's related to the `key=` attribute on JSX elements.

We did a fix for this a week or two ago that seemed to clear it up. Are you running on a local server installation or on one of the official servers? My suspicion is that the production servers (my.farmbot.io - last updated Jan 19) are not running the version with the fix. One way to check would

[2017-02-06 14:22] fluffy commented on #183
I'm having a bit of a problem on staging server, it wants to to verify email first but to do that it wants me to accept new TOS first, but to do that it wants me to verify email .... Can you just add me on staging server and I accept the new TOS.

To answer questions on how to reproduce

1. Create a sequence with more than one absolute move
2. Make sure the x and y are different for each more
3. S

[2017-02-06 14:28] fluffy commented on #184
100 mm sounds good. I just want to make it small enough that when I forget to click on what I want, it is not too likely to result in a crash.

[2017-02-06 17:08] RickCarlino commented on #183
@fluffy strange, I just registered for an account no problem. Perhaps it's related to the fact that our staging mail delivery is slow. Either way, I've manually verified your account if you would like to take a look now.

[2017-02-06 17:25] fluffy commented on #183
thanks - I can log on staging now. I'm off on a work trip to San Fran this week so might be next weekend before I get a chance to play with it.

Sent with my thumbs. Sorry

[2017-02-09 22:46] Daniil145 opened #185 "Error: Cannot find module 'glob'"
./install_frontend.sh

module.js:327
    throw err;
    ^

Error: Cannot find module 'glob'
    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.require (module.js:353:17)
    at require (internal/module.js:12:17)
    at Object.<anonymous> (/tmp/farmbot_frontend/tools/webpack.config.prd.js:9:12)
    at Module._compile (module.js:4

[2017-02-09 22:48] RickCarlino commented on #185
We're running `node v6.9.4`. I've never seen this error before, but I would guess it is related to your node version.

[2017-02-09 23:46] Daniil145 commented on #185
please change https://github.com/FarmBot/farmbot-web-frontend/blob/master/.nvmrc

[2017-02-09 23:58] RickCarlino commented on #185
@Daniil145 I just checked the staging server: we are using `node 6.9.5`. It looks like that `nvm` file was being used by other developers who either stopped using NVM or no longer contribute to the project. We don't use it as part of our day-to-day, so I am going to remove it and add it to the `gitignore`

[2017-02-09 23:58] #185 closed

[2017-02-09 23:59] Daniil145 commented on #185
ok good it work!
may be you add version to readme?

[2017-02-10 00:05] RickCarlino commented on #185
Sure thing. I will take care of it in the morning as I just stepped out for
the day. Glad your server is up and running.

Sent from a mobile device. Please excuse my brevity.

On Feb 9, 2017 5:59 PM, "Daniil145" <notifications@github.com> wrote:

[2017-02-13 14:46] RickCarlino commented on #184
Sounds like this one is good to go for next release. Closing this issue. Feel free to discuss / reopen if you would like to keep the discussion going.

[2017-02-13 14:46] #184 closed

[2017-02-22 06:22] bdudout commented on #183
Hello,

I confirm there is still this issue, just add several absolute move to a sequence with different values for X Y and Z.
Click either save or save and run.
The movement for the farmbot will be correct according to the x y z you wrote. But the display is incorrect, the Y value is copied from X.

Tested on my.farmbot.io

[2017-02-22 06:35] bdudout opened #187 "Save & Run a sequence will always run the previous version of the sequence"
Hello!

When updating a sequence, for example testing flashing lights
write pin 8 1
wait 250ms
write pin 8 0
wait 250 ms
etc

If I update the waiting value from 250ms to 1s and click save and run, it will always run the 250ms previous version of the sequence even is the 1s version is displayed

[2017-02-22 13:17] RickCarlino commented on #187
@bdudout Interesting find. I will investigate this today.

[2017-02-22 15:21] ConnorRigby commented on #187
@bdudout interesting. I believe this to be an OS level issue, and i have a suspect of what it is. Will get back to you soon!

[2017-02-22 16:01] bdudout commented on #187
Great! tell me when it's good so that I can test again :)

[2017-02-24 08:08] menghong777 opened #188 "Cannot set length"
# Expected Behavior
Able to set X, Y and Z length in device page.
# Actual Behavior
It shows "---" in the form and unable to save.
# Steps to Reproduce
For example: We put value 1 into length field and it won't save for X, Y, Z axis.

@joevo2
P/s: We are currently using RPi 3 with 3.0.5 version software and version 1 for Arduino firmware.

[2017-02-24 12:43] joevo2 commented on #188
We are suspecting because that we could not set the length of the farmbot that are causing the farmbot not moving at all, only "tick tick" sound in the stepper motors :(

[2017-03-07 09:44] SebastianoPistore opened #190 "New account page problem with Firefox"
The account creation page does not detect the check on Terms of use Agree using Firefox, but works on Chrome. Firefox ask to accept the Terms even if there is already tick.

# Expected Behavior
Chrome
![ok](https://cloud.githubusercontent.com/assets/15121240/23650550/c7ba232e-0322-11e7-95ef-6859ad64a344.jpg)

# Actual Behavior
Firefox
![err](https://cloud.githubusercontent.com/assets/15121240/2365

[2017-03-07 14:04] RickCarlino commented on #190
Thanks for the report, @SebastianoPistore . I was able to reproduce this problem on `Firefox 51.0.1 (64-bit)` and will investigate shortly and let you know what we find.

[2017-03-08 21:50] #190 closed

[2017-03-09 18:15] Daniil145 opened #191 "sequence problem"
I set X=10 Y=0 Z=0 click save and result on screen
X=10 Y=10 Z=0
![screenshot_2017-03-09-21-11-22](https://cloud.githubusercontent.com/assets/20598279/23764029/03d94f4c-050d-11e7-8377-61d7907333ba.png)
# Expected Behavior

# Actual Behavior

# Steps to Reproduce

[2017-03-09 19:39] RickCarlino commented on #191
@Daniil145 This was recently fixed but has not been deployed to production yet. You can try it out on `staging.farmbot.io` to verify.

[2017-03-09 19:39] #191 closed

[2017-03-09 21:19] Daniil145 commented on #191
Web fronted or api bug?

[2017-03-09 22:06] RickCarlino commented on #191
@Daniil145 The fix was implemented on the frontend.

[2017-03-10 08:51] Daniil145 commented on #191
I update my fronted on you git. And i get this error. May be api?

[2017-03-10 09:05] Daniil145 commented on #191
or fix not available on github?

[2017-03-10 13:19] RickCarlino commented on #191
@Daniil145 Did you pull down pull down from `FarmBot/farmbot-web-frontend master` and run `./install_frontend.sh`?

What do you see in your Javascript console for version information? This is what staging has:

[code]

Is your version older or newer than `Thu Mar 9 11:42:26 2017 -0700`?

[2017-03-10 14:58] Daniil145 commented on #191
I delete "public" dir and run ./install_frontend.sh 6 hours ago

[2017-03-10 15:42] RickCarlino commented on #191
@Daniil145 What does your javascript console show when you're logged in?

[2017-03-13 12:37] Daniil145 commented on #191
heh i install new version api sequence good work. bot dont connect

[2017-03-13 12:38] RickCarlino commented on #191
@Daniil145 Great! I would recommend upgrading to the latest FBOS (we just released new stuff on Friday).

If you still have issues, please open a new issue for the FarmBot OS repo.

[2017-03-13 12:55] Daniil145 commented on #191
![2017-03-13 15 53 09](https://cloud.githubusercontent.com/assets/20598279/23855054/401c7d80-0805-11e7-96fb-ef2b77aeea90.png)

Move on controls work. sequence errors

[2017-03-13 13:01] Daniil145 commented on #191
ok i click button Disconected and bot is synsed - work)

[2017-03-13 13:40] RickCarlino commented on #191
@Daniil145 You probably need to re-flash your bot.

`data_update` is a new RPC method we added last week to help the bot know it needs to download new information from the API (for syncing purposes).

I assume what is happening is that the frontend is sending the new RPC command to the bot, but the bot is running an old version of the software that does not understand the command.

[2017-03-13 15:19] Daniil145 commented on #191
Farmbot_os or firmware arduino?

[2017-03-13 17:00] Daniil145 commented on #191
I updated for farmbot-rpi3-3.0.8-rc.6.img and receive this error every time

[2017-03-13 17:24] RickCarlino commented on #191
@Daniil145 FarmBot OS would need the update.

This issue appears to no longer be related to sequences or the frontend. Please [raise an issue in FarmBot OS](https://github.com/FarmBot/farmbot_os/issues/new) so that @ConnorRigby can help solve the problem. It will also make it easier for people with the same problem to find it later by searching.

[2017-03-13 18:00] bautze opened #195 "Request For Enhancement: flexible Camera selection"
# Expected Behavior
Expect some button / drop down menu to change camera to my standard Raspberry camera. USB camera (webcam) works. I would really appreciate this feature as I would like to use this cam.
# Actual Behavior
taking image does not work, no camera found

[2017-03-15 22:48] gabrielburnworth commented on #195
We have added a Camera selection drop-down in the Device widget on the Devices page. In it you can select the Raspberry Pi Camera.

[2017-03-15 22:48] #195 closed

[2017-03-18 20:44] bautze opened #198 "Request For Enhancement - Homing Feature"
# Expected Behavior
I would like the bot to drive to physical (0,0,0). Software (0,0,0) can be wrong, especially when setting up and installing Farmbot for the first time. I would like to have a button that drives to x_min, y_min, z_min and sets zero position via G-code. Speed should be adjustable.

# Actual Behavior
The calibration feature sort of does this, however the outcome is seems rather od

[2017-03-19 05:51] Daniil145 opened #199 "./install_fronted error"
[npm-debug.txt](https://github.com/FarmBot/farmbot-web-frontend/files/853043/npm-debug.txt)

ERROR in ./src/app.tsx
(49,3): error TS2322: Type '{ dispatch: Function; auth: AuthState | undefined; bot: BotState; logs: Log[]; }' is not assignable to type 'AppProps'.
  Property 'loaded' is missing in type '{ dispatch: Function; auth: AuthState | undefined; bot: BotState; logs: Log[]; }'.

ERROR in ./s

[2017-03-23 12:39] RickCarlino commented on #198
Hi @bautze we've spotted some bugs on the calibration feature and have been working on it all this week.

Will keep you posted and sorry for the slow response (it's been a busy week for everyone on the software team).

[2017-03-23 13:06] RickCarlino commented on #199
@Daniil145 Sorry for slow response- it's been a busy week for us. We are doing a lot of refactoring around the code base to help with overall stability. Unfortunately, the `HEAD` of master is unstable. I think that is the problem you are seeing.

You have two options:

 1. You can wait a few more days while we fix the issue.
 2. You can `./install_frontend` using an older, more stable version of t

[2017-03-23 13:06] #199 closed

[2017-03-27 18:12] bautze commented on #198
Hi, thanks for the reply. Actually, I was thinking that such a homing feature would actually be nice to use with the sequence builder as well !

[2017-03-28 12:02] RickCarlino commented on #199
@Daniil145 `./install_frontend.sh` should be pretty stable now.

[2017-04-09 12:19] bautze commented on #198
Well, I tried the Calibration button and the Home button, however it is still rather inconvenient. Calibration drives to min, then to max and then set 0 at max. This leaves my bot stuck at max and I have to allow negatives and manually drive it to physical 0.
I would have expected the home button to drive to the minimum endstop and stay there, it however drives to software defined zero (which is u

[2017-04-12 08:40] bautze opened #203 "Request For Enhancement: Export / Import Feature"
Programming sequences is a time-consuming task. We would like to have a feature to export, share and import sequences. This helps developing the community faster and is also useful for backup. I would appreciate a standard plain-text format like json for the export. Nothing special, just something that works plain and simple.

[2017-04-12 08:41] bautze opened #204 "Impossible to set Hardware Configuration"
Example: Setting new values for X AXIS - MAX SPEED (MM/S) to a new value triggers the log:
"is updating movement_max_spd_x: 800"
however the new values are not saved. Tried several times, the behavior is reproducible. FarmbotOS 3.1.0

[2017-04-12 13:34] RickCarlino commented on #203
@bautze That's a great idea and it is already on our road map to add sequence sharing.

The other good news is that the sequences are already JSON documents under the hood. The sequence builder (and all bot commands) use an abstract syntax tree structure internally referred to as "Celery Script" . The format of these JSON nodes is [outlined here](https://github.com/FarmBot/farmbot-js/blob/master/d

[2017-04-12 13:34] #203 closed

[2017-04-12 13:37] RickCarlino commented on #204
@bautze Thanks for the heads up. We will be working on this issue today, along with many other fixes for that panel. I will keep this issue open for now until the fixes are deployed.

[2017-04-12 16:15] bautze commented on #204
:-)

[2017-04-12 16:19] bautze commented on #203
That sounds great ! The format from your link looks really good, this is sufficient for me, I will look into it once I am live in production. I have a few ideas in mind what to do with it, however I think that there are currently other more important issues to solve. I'll keep you posted. Thanks

[2017-04-16 16:35] bautze opened #206 "Stuck in software loop"
Version 3.1.2
Farmbot is stuck in a loop (see below). I have installed latest OS version, Farmbot was working, stopped working after sending toggle of endstop on/off.
If you haven't had this issue beforehand, I could offer my bot as testing device.

[FILTERED]
6:23 pm
summer-fire-798 is starting serial services
6:23 pm
setting previous mcu commands.
6:22 pm
[FILTERED]
6:22 pm
summer-fire-798 is st

[2017-04-17 14:11] RickCarlino commented on #206
Thanks for letting us know, @bautze . We will take a look. I have a suspicion it might be related to [farmbot_os/292](https://github.com/FarmBot/farmbot_os/issues/292).

CC: @ConnorRigby

[2017-04-17 15:04] ConnorRigby commented on #206
This happens when farmbot can't communicate with it's Arduino. Have you tried a reboot?

[2017-04-17 18:10] AscendFB commented on #206
I also had this issue a few times. I felt like its coming everytime I try to change hardware parameters. Even after many reboots it came up again.

[2017-04-17 18:12] ConnorRigby commented on #206
The hardware parameter save button can cause the bot to be pretty unstable the way it is right now. We have a fix for that in our staging environments that should fix it hopefully.

any steps i can do to reproduce the loop you guys are seeing?

[2017-04-17 18:45] AscendFB commented on #206
Tried like 30min to reproduce, no success yet. My Farmbot was unplugged over night, don't know what could have changed or if its just rare.

[2017-04-17 18:46] bautze commented on #206
Yes I tried reboot, did not change anything. To reproduce, I would recommend clean install of latest version, then doing first-time set-up, moving a bit around, sending toggle request to device config and that did the trick for me. The bot then thinks it is at -1, -1, -1. In case it is related, I should maybe wait for new fix and then try if I see it again.

[2017-04-17 18:47] bautze commented on #206
Something that might be helpful is if logging level would be higher as default setting for the moment, this way we could maybe provide more info.

[2017-04-17 18:47] ConnorRigby commented on #206
Toggles shouldnt cause it i wouldnt think.
This problem comes from the bot not being able to negotiate communications with the arduino firmware.

[2017-04-17 19:03] bautze commented on #206
Sounds reasonable as toggling not working would be a consequence of the communication issue.

[2017-04-17 19:03] AscendFB commented on #206
Is is working for you right now @bautze ?
My setup seems to work fine, saving hardware parameters are still bugged, of course, but It does no more stuck in loops.

[2017-04-17 19:05] bautze commented on #206
No, still not working, what did you do to make it work?

[2017-04-17 19:12] AscendFB commented on #206
Last thing I did yesterday, was flashing to an older OS Version, and then back to V3.1.2. When it was done I immediately shut it down. Now starting almost 24h later I have no problems anymore. Cant imagine this would help.

[2017-04-19 18:13] bautze commented on #206
I did a clean install of V3.1.3, it did not accept my configuration, I pressed the reset button on the ramps, then the configuration went through and Farmbot booted. Afterwards, all device hardware configuration was gone, toggle buttons are yellow, impossible to set devices. Log output:
8:05 pm [FILTERED]
8:05 pm reading all mcu params.
8:05 pm (red) [FILTERED]
8:04 pm apiculate-glitter-455 is sta

[2017-04-19 18:43] ConnorRigby commented on #206
`[FILTERED]` Just means it might be a sensitive message, so we dont push it to the logs for security purposes.

Pressing the reset button on the ramps board is usually a pretty _bad_ idea, and can cause the bot and ramps to be out of sync pretty bad.

When you _dont_ hit the reset button and boot up your bot, are you able to use toggle buttons on the settings? If so you have a good connection betw

[2017-04-19 19:10] bautze commented on #206
I pressed, since after flashing latest OS on SD-card, I did not manage to get out of configuration (192.168.24.1) and my bot did not connect to the webapp. This was the last option I saw and apparently afterwards, it connected. I understand that this is usually a bad idea.
When my bot is up and running, I do not manage to toggle buttons. To me this seems odd, as I would expect it to work after a f

[2017-04-28 12:13] RickCarlino commented on #204
@bautze This has been fixed, please let me know if you require any further assistance, and thanks again for bringing it to our attention.

[2017-04-28 12:13] #204 closed

[2017-04-28 12:39] RickCarlino commented on #198
@bautze We've revamped our homing button and added a "set zero" button for all axes. Hope that helps! Please let me know if you need anything else and we can re-open as needed.

[2017-04-28 12:39] #198 closed

[2017-04-28 12:45] RickCarlino commented on #188
This was fixed in this week's deploy. Feel free to re-open if you need help or clarification.

[2017-04-28 12:45] RickCarlino commented on #188
Whoops - got my issues mixed up. Please disregard previous comment, as it was intended for a different issue. We're still working on this one.

[2017-04-28 12:48] RickCarlino commented on #187
@bdudout This issue still needs some work on our end, but can be resolved by hitting the "sync" button before hitting "save and run". We will have a more elegant solution in future releases.

[2017-04-28 12:49] RickCarlino commented on #183
Fixed in latest release. Please let me know if you hit any issues.

[2017-04-28 12:49] #183 closed

[2017-04-28 12:55] RickCarlino commented on #168
@rorycan @fluffy Has this one shown up after the last release? We've made quite a few updates to the firmware since 2 JAN.

[2017-04-28 12:55] #164 closed

[2017-04-29 14:25] #206 closed

[2017-04-29 14:25] bautze commented on #206
Fixed by Version 3.1.4

[2017-04-29 14:41] bautze opened #209 "Feedback for Version 3.1.4"
Version 3.1.4 is a big step forward, thanks for update and the new features. Most of them are working properly, I will leave the issues that I have found today here:

1. Unhandled messages:
1.1 7:50: reading all mcu params
7:51:"Encountered an error handling: R21 P12 Q0: %MatchError{term: [""]}
1.2.Unhandled message: "F21 P0 Q2 V60 Q0"
1.3. Unhandled Message: "Z6150 Q45"
1.4 Unhandled Message: "0

[2017-04-29 19:26] TimEvWw commented on #209
V1 and V2 is my mistake. Those were debugging messages that were not
removed. That's already fixed for the new version.

On 29 Apr 2017 16:41, "bautze" <notifications@github.com> wrote:

[2017-05-01 13:33] mdingena commented on #168
Yes, this is still happening. I'm running `farmbot-rpi3-3.1.4.img`

[2017-05-01 20:39] mdingena commented on #209
My feedback on calibration (I know encoders are in alpha):

* Calibrating Y-Axis
* Steps/mm = 5
* Encoder Scaling = 100
* My motors are from Genesis pre-order kit
* Enable Encoders `YES`
* Invert Encoders `YES`

Y-Axis will not calibrate without "Invert Encoders". It moves 10 mm both ways and stops. When this option is on, it actually moved to both ends of the gantry and stops.

However, after sto

[2017-05-02 21:11] fluffy commented on #168
I'm trying to upgrade and retest but have not got there yet. I have a random untested hypothesis on what might be happening ... the PI close and opens the serial port to the Arduino, this would cause the Arduino to reset  which would reset the position to 0.

[2017-05-02 21:27] ConnorRigby commented on #168
I _think_ i know what is happening here. @fluffy is spot on actually.

[2017-05-02 22:47] fluffy commented on #170
The new stuff that keeps the z axis enabled seems to have fixed this. I think we can close this one. Thanks.

[2017-05-06 07:37] creimers opened #211 "webcam placeholder image overflow"
# Expected Behavior
Image no wider than its parent container.

# Actual Behavior
<img width="1920" alt="bildschirmfoto 2017-05-06 um 09 31 27" src="https://cloud.githubusercontent.com/assets/6090492/25770793/703678ae-323f-11e7-93c7-9ae853362566.png">

# Steps to Reproduce
Chrome  57.0.2987 on Mac, log into my.farmbot.com, 'Controls' tab.

[2017-05-08 12:19] RickCarlino commented on #211
@creimers Yep, we just spotted this one last week also. Thanks for the heads up. Will close this issue when it is resolved.

[2017-05-16 10:55] punit121 commented on #174
@RickCarlino i'm getting following warning while running ./install_frontend.sh

npm WARN deprecated @types/redux-thunk@2.1.0: This is a stub types definition for Redux Thunk (https://github.com/gaearon/redux-thunk). Redux Thunk provides its own type definitions, so you don't need @types/redux-thunk installed!
npm WARN deprecated yarn@0.23.4: It is recommended to install Yarn using the native insta

[2017-05-16 11:49] punit121 commented on #174
@RickCarlino Also i'm getting the following error

'node_modules' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! farmbot-web-frontend@1.1.0 build: `node_modules/webpack/bin/webpack.js --config tools/webpack.config.prd.js --display-error-details`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the farmbot-w

[2017-05-16 12:54] RickCarlino commented on #174
@punit121 I'm not sure that `./install_frontend.sh` is going to work on Windows.
I've heard Windows recently added the ability to run shell scripts, but I don't have a Windows machine to test off of. My guess is that this:

[code]

happens because this:

[code]

Uses Unix style `/` delimiters instead of windows style `\` delimiters. I am not certain of this though.

[2017-05-16 13:04] punit121 commented on #174
@RickCarlino What best i can do  to setup **Farmbot-Web-Api** on windows  , as i am getting lots of error in each step of config.

[2017-05-17 06:14] punit121 commented on #199
@RickCarlino i gone through ./install_frontend.sh . the only thing this is doing is that cloning frontend repo. in temp folder and then copying its public folder to the public folder of  **Farmbot-Web-API**  .

can i proceed like this ::
first clone the frontend repository then run the npm commands and then  finally copy its public folder to the public folder of   **Farmbot-Web-API**

Waiting for

[2017-05-17 13:08] RickCarlino commented on #199
@punit121 I'm glad you were able to get it working. If you want to publish that as a script to a new Github repo, I would be happy to link to it in the documentation. It would be a great way to help others in your situation.

Unfortunately, Windows support isn't a big priority for me right now with given time limitations. I do not own a Windows machine to test off of, and all of our software (eg:

[2017-05-18 08:17] punit121 commented on #199
@RickCarlino Thanks a lot for your help .
can you help me with following error i'm facing :
i'm running the following jquery code after running the rail server for getting API Token :
but i'm getting ** Failed to load resource: the server responded with a status of 500 (Internal Server Error) **
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></

[2017-05-18 13:22] RickCarlino commented on #199
@punit121 A few things:

1. You don't need to use API tokens for anything unless you are trying to build a new software application for FarmBot.
2. All of the the ENV vars (and explanations) can be found [here](https://github.com/FarmBot/Farmbot-Web-API/blob/master/config/application.example.yml)
3. You don't need a Raspberry Pi if you don't have a bot or are just testing things out locally.
4. Pl

[2017-05-29 21:44] Klimbim1 opened #215 "Frontend if statement in sequences drop down listing cut"
# Expected Behavior
to see all listings in the drop down menu
# Actual Behavior
listing is cut
# Steps to Reproduce
select drop down menu as seen in screen shot

Browser: Chrome on Mac Version: 58.0.3029.110 (64-bit)
Frontend: 0C6C947
![bildschirmfoto 2017-05-29 um 20 40 16](https://cloud.githubusercontent.com/assets/28235189/26562671/b80138ea-44c8-11e7-8083-ab64421b0e4a.png)

[2017-05-30 18:36] RickCarlino commented on #215
@Klimbim1 I just saw this one crop up recently. I have added this to our internal TODO. Thanks for the headsup. I will close this issue when the fix is deployed.

[2017-06-10 20:25] Klimbim1 opened #216 "More than one device being logged in and in charge"
Hi all,

I think I noticed that if you are logged in with more than one device, the system gets confused.

I drove my bot today into the toolsbay, everything was properly programmed, not obvious problems so far. But I guess because I am programming the sequences on a desktop PC inside and then going outside and starting the testsequence on my iPhone something gets mixed up. There is not difference

[2017-06-10 22:01] Klimbim1 opened #217 "Farmbot didn´t get that..."
That is the farmbotters most dislike message I guess :)

Got it today so many times... it is not a problem of my wifi coverage, it shouldn´t be a problem of the browser as I used Firefox and Chrome on an iPhone. It is just annoying if you need to reload the page, do it again etc... the whole frontend seems to very unresponsive (read = slow)...

Why do you need to wait that long after taking a pict

[2017-06-10 22:35] RickCarlino commented on #216
@Klimbim1 FarmBot OS does not support multiple user sessions right now. I recommend logging out of one account before starting a new session in a different device, and also making sure to push the `"SYNC"` button after saving changes.

[2017-06-10 22:35] #216 closed

[2017-06-10 22:44] Klimbim1 commented on #216
@RickCarlino: wouldn´t it be an idea to intercept the problems arising through these multiple sessions if you intercept multi log ins? Just tell that you are already logged in another device?

The problem is, I guess many people are using some sort of PC inside and something mobile outside... They would need to know that it is currently not supported. Otherwise they are having interesting things g

[2017-06-10 22:49] RickCarlino commented on #217
@Klimbim1 Can I see your javascript console when the error occurs? Other relevant information would be:

 * MQTT logs (if you are self hosting)
 * Bot logs (if any)
 * Version of the frontend you are running.

[2017-06-10 23:26] RickCarlino commented on #216
It's a very good idea, @Klimbim1 and we hope to support multi-user bots in the future. Right now, the system was designed with the assumption that there is only one active user session per bot. There are no tracking mechanisms for sessions at this time, which is why I recommend not controlling the bot from two different user sessions. In the mean time, I may add [version locking](http://guides.rub

[2017-06-13 17:43] Klimbim1 commented on #217
Hey @RickCarlino that was yesterday, unfortunately I was too slow and couldn't capture the java error with the message Farmbot didn't get that. After a reload of the page everything is normal again...
![bildschirmfoto 2017-06-13 um 19 41 31](https://user-images.githubusercontent.com/28235189/27096205-8a8c9946-5070-11e7-9b60-fb6dfc99602e.png)
Current version is 0C6C947 with your servers...

[2017-06-19 12:50] #170 closed

[2017-06-22 13:23] #168 closed

[2017-06-22 13:23] #187 closed

[2017-06-22 13:23] #188 closed

[2017-06-22 13:23] #209 closed

[2017-06-22 13:24] #211 closed

[2017-06-22 13:24] #215 closed

[2017-06-22 13:24] #217 closed

[2017-06-24 15:29] Klimbim1 opened #219 "Log in from mobile device"
With V. 4.0.0 and the new web frontend (I am using 9A6CB8F) which you host, I cannot log in via a mobile device even when I am logged out on the desktop. There is not error message, nothing; after some flashes it shows the log in page again!

[2017-06-26 15:50] RickCarlino commented on #219
@Klimbim1 Does this issue continue to happen, or is it only on the initial page load?

We put in a quick fix to resolve an issue that some users were having (old CSS was loading after the 4.0.0 launch). Part of the fix involved force reloading of the page to clear out old CSS/JS files. It should only happen on the initial page load, however.

We hope to remove this quick fix in a future release as

[2017-06-26 17:18] Klimbim1 commented on #219
It happens every time, I am not able to log in with a mobile browser. Neither with chrome nor
with firefox!

[2017-11-22 05:51] potspinal opened #222 "Start Failure"
When  I run node start I found an error below, Please help me

ERROR in multi (webpack)-dev-server/client?http://0.0.0.0:8082 ./src/front_page/index.tsx
Module not found: Error: Can't resolve './src/front_page/index.tsx' in '/home/pi/farmbot-web-frontend'
 @ multi (webpack)-dev-server/client?http://0.0.0.0:8082 ./src/front_page/index.tsx

ERROR in multi (webpack)-dev-server/client?http://0.0.0.0:8

[2017-11-22 15:04] RickCarlino commented on #222
@potspinal This repository is no longer used. We keep it online for historical purposes and reference only. Please uninstall it and start over with the setup instructions for the new app [here](https://github.com/FarmBot/Farmbot-Web-App).

[2017-11-22 15:04] #222 closed